/* Background Figma */
.login-bg {
    background-color: #f7efe3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card umum */
.login-card {
    background: white;
    padding: 35px 35px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    text-align: center;
}

/* Title umum */
.login-title {
    font-weight: 700;
    color: #735353;
    margin-bottom: 25px;
}

/* Label */
label {
    display: block;
    text-align: left;
    color: #735353;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 3px;
    font-weight: 500;
}

/* Input */
input {
    width: 100%;
    border: 2px solid #735353;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
    color: #735353;
    display: block;
}

/* Tombol */
.btn-login,
.btn-register {
    width: 120px;
    padding: 10px;
    background: #735353;
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    transition: 0.3s ease;
}

.btn-login:hover,
.btn-register:hover {
    background: #5d4646;
}

/* Link bawah */
.login-links {
    margin-top: 10px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #735353;
}

.login-links a {
    font-weight: 700;
    text-decoration: none !important;
    color: #735353;
}
