.profile-container {
    width: 100%;
    min-height: 100vh;
    background: #f7efe3;
    padding: 30px 80px;
    font-family: Inter, sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    height: 100px;
    background: #735353;
    border-radius: 10px;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 180px;
}

.header .menu a {
    margin: 0 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.btn-logout {
    padding: 10px 20px;
    background: #f7efe3;
    color: #735353;
    border-radius: 8px;
    font-weight: 700;
}

/* PROFILE CARD */
.profile-card {
    margin: 40px auto;
    width: 500px;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-card .photo img {
    width: 90px;
}

.profile-info .username {
    font-size: 32px;
    font-weight: 700;
}

.profile-info .email {
    font-size: 20px;
    color: #555;
}

/* MENU LIST */
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: auto;
}

.menu-item {
    padding: 20px;
    background: #735353;
    color: #f7efe3;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}


