/* Card lebih besar untuk register */
.login-card {
    width: 300px;
    padding: 25px 35px;
}

/* Ikon register */
/* .profile-svg {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
} */

/* judul register */
.login-title {
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.register-card label {
    font-size: 13px;        /* Ukuran label */
    font-weight: 400;       /* Ketebalan */
    color: #5d3b3b;         /* Warna label */
    margin-bottom: 5px;     /* Jarak label ke input */
    display: block;
    margin-left: 14px;
    margin-right: auto;
    font-family: "Arial", sans-serif;
}

.register-card input {
    width: 280px;
    padding: 10px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
}


/* tombol register daftar */
.btn-register {
    width: 110px;
    padding: 8px 0;
    background: #735353;
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;

    display: block;
    margin: 30px auto 0 auto;
    transition: 0.3s ease;
}
