.box {
  position: relative;
  width: 1448px;
  height: 822px;
}

.box .group {
  position: fixed;
  top: -5px;
  left: -5299px;
  width: 1452px;
  height: 822px;
}

.box .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1448px;
  height: 822px;
  background-color: #d9d9d9;
}

.box .div {
  position: absolute;
  top: 137px;
  left: 556px;
  width: 336px;
  height: 378px;
}

.box .whatsapp-image {
  position: absolute;
  top: 0;
  left: 27px;
  width: 282px;
  height: 283px;
  aspect-ratio: 1;
}

.box .img {
  position: absolute;
  top: 253px;
  left: 0;
  width: 336px;
  height: 125px;
  aspect-ratio: 2.69;
}

.box .kamu-kehilangan {
  position: absolute;
  top: 501px;
  left: 352px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .group-2 {
  position: absolute;
  top: 615px;
  left: 592px;
  width: 265px;
  height: 70px;
  border-radius: 45px;
  border: 4px solid;
  border-color: #6c6464;
}

.box .text-wrapper {
  position: absolute;
  top: 629px;
  left: 680px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6c6464;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
